body {
    background-color: rgb(21, 21, 131);
    color: white;
}

img {
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.hero-thumb {
    border-radius: 25%;
    width: 200px;
    height: 250px;
    margin: 5px;
}

.villain-thumb {
    border-radius: 25%;
    width: 200px;
    height: 250px;
    margin: 5px;
}

.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-bottom: 50px;
}

.list-item {
    justify-content: center;
    margin: 5px;
    text-align: center;
}

nav {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    font-size: larger;
    align-items: center;
}

nav img {
    width: 65px;
    height: 65px;
}

a {
    color: white;
    text-decoration: none;
}

.edit-delete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
}

.edit {
    display: flex;
    border-radius: 25%;
    width: 75px;
    height: 50px;
    background-color: rgb(83, 212, 83);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 5px;
}

.delete {
    display: flex;
    border-radius: 25%;
    width: 75px;
    height: 50px;
    background-color: rgb(237, 85, 85);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 5px;
}

.details {
    text-align: center;
}

.add-new-container {
    justify-content: flex-end;
    display: flex;
}

.add-new {
    display: flex;
    border-radius: 25%;
    width: 35px;
    height: 35px;
    background-color: rgb(83, 212, 83);
    align-items: center;
    justify-content: center;
    margin: 25px;
    color: white;
}

.details h3 {
    text-decoration: underline;
}

.team-ups {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}