{%extends 'base.html'%}
{% block title %} {{comic.title}} {% endblock %}
{% block content %}
<div class="details">
    <h2>{{comic.title}}</h2>
    <h3>{{comic.universe}}</h3>
    <img class="comic-img" src="{{comic.img}}" alt="{{comic.title}}"/>
    <p>{{comic.year}}</p>
    <p>{{comic.author}}</p>
    <p>Characters -</p>
    {% for hero in heroes %}
    <p>{{comic.hero}}</p>
    {% endfor %}
    <div class="edit-delete">
        <div class='edit'>
            <a href="/comices/{{comic.id}}/update">
                <p>Edit {{comic.title}}</p>
            </div>
        </a>
        <div class='delete'>
            <a href="/comices/{{comic.id}}/delete">
                <p>Delete {{comic.title}}</p>
            </a>
        </div>
    </div>
</div>
    
{% endblock %}