{%extends 'base.html'%}
{% block title %} {{hero.name}} {% endblock %}
{% block content %}
    <a href="/heroes">
        <p>Back to Hero List</p>
    </a>
    <h2>{{hero.name}}</h2>
    <h3>Alter Ego - {{hero.alter_ego}}</h3>
    <h3>{{hero.universe}}</h3>
    <h3>Known Affiliations - {{hero.affiliations}}</h3>
    <img class="hero-img" src="{{hero.img}}" alt="{{hero.name}}"/>
    <p>{{hero.bio}}</p>
    <p>Abilities - {{hero.powers}}</p>
    <p>Villains - {{hero.villains}}</p>
    <a href='/heroes/{{hero.id}}/update'>
        <h4>Edit {{hero.name}}</h4>
    </a>
    
{% endblock %}