{%extends 'base.html'%}
{% block title %} {{team.title}} {% endblock %}
{% block content %}
<div class="details">
    <h2>{{heroteam.name}}</h2>
    <img class="heroteam-img" src="{{heroteam.img}}" alt="{{heroteam.title}}"/>
    <p>Members -</p>
    {% for hero in heroteam.heroes.all %}
    <p>{{hero}}</p>
    {% endfor %}
    <div class="edit-delete">
        <div class='edit'>
            <a href="/heroteames/{{heroteam.id}}/update">
                <p>Edit {{heroteam.title}}</p>
            </div>
        </a>
        <div class='delete'>
            <a href="/heroteams/{{heroteam.id}}/delete">
                <p>Delete {{heroteam.title}}</p>
            </a>
        </div>
    </div>
</div>
    
{% endblock %}