{%extends 'base.html'%}
{% block title %} {{heroteam.name}} {% endblock %}
{% block content %}
<div class="details">
    <h2>{{heroteam.name}}</h2>
    <img class="heroteam-img" src="{{heroteam.img}}" alt="{{heroteam.title}}"/>
    <h3>Members</h3>
    <div class="list-container">
        {% for hero in heroteam.heroes.all %}
        <a href="/heroes/{{hero.id}}"> <h2>{{hero.name}}</h2>
            <img class="hero-thumb" src="{{hero.img}}" alt="{{hero.name}}"/>
        </a>
        {% endfor %}
    </div>
    <div class="edit-delete">
        <div class='edit'>
            <a href="/heroteams/{{heroteam.id}}/update">
                <p>Edit {{heroteam.name}}</p>
            </div>
        </a>
        <div class='delete'>
            <a href="/heroteams/{{heroteam.id}}/delete">
                <p>Delete {{heroteam.name}}</p>
            </a>
        </div>
    </div>
</div>
    
{% endblock %}