{%extends 'base.html'%}
{% block title %} DC Comics - Home {% endblock %}
{% block content %}
<div class="add-new-container">
    <form action="{% url 'heroteam_create' %}">
        <input class='add-new' type="submit" value="+"/>
    </form>
</div>
<div class="list-container">
{% for team in heroteams %}
    <div class="list-item">
        <a href="/heroteams/{{team.id}}">
            <h3>{{team.name}}</h3>
            <img src="{{team.img}}" alt={{team.name}}/>
        </a>
    </div>
{% endfor %}
</div>
{% endblock %}