{%extends 'base.html'%}
{% block title %} {{villain.name}} {% endblock %}
{% block content %}
<div class="details">
    <h2>{{villain.name}}</h2>
    <h3>{{villain.universe}}</h3>
    <img class="villain-img" src="{{villain.img}}" alt="{{villain.name}}"/>
    <p>{{villain.bio}}</p>
    <p>Known Affiliations - {{villain.affiliations}}</p>
    <p>Abilities - {{villain.abilities}}</p>
    <h3>Nemesis</h3>
    <div class="list-container">
        <a href="/heroes/{{villain.nemesis.id}}"> <h2>{{villain.nemesis.name}}</h2>
            <img class="hero-thumb" src="{{villain.nemesis.img}}" alt="{{villain.nemesis.name}}"/>
        </a>
    </div>
    <div class="edit-delete">
        <div class='edit'>
            <a href="/villain/{{villain.id}}/update">
                <p>Edit {{villain.name}}</p>
            </div>
        </a>
        <div class='delete'>
            <a href="/villain/{{villain.id}}/delete">
                <p>Delete {{villain.name}}</p>
            </a>
        </div>
    </div>
</div>
    
{% endblock %}