{%extends 'base.html'%}
{% block title %} Villains {% endblock %}
{% block content %}
<div class="add-new-container">
    <form action="{% url 'villain_create' %}">
        <input class='add-new' type="submit" value="+"/>
    </form>
</div> 
    <div class="list-container">
        {% for villain in villains %}
        <div class="list-item">
            <a href="{{villain.id}}"> <h2>{{villain.name}}</h2>
            <img class="hero-img" src="{{villain.img}}" alt="{{villain.name}}"/>
            </a>
        </div>
            {% endfor %}
    </div>
    {% endblock %}